{% extends 'base.html' %}

{% block content %}
<style>
  .body{
    background-color: rgba(255, 228, 196, 0.452);
  }
  table, th, td{
    border: 3px solid rgba(214, 183, 183, 0.76);
  }
  p, ol{
    border: 2px dashed rgb(0, 143, 143) ;
    padding: 20px;
  }
</style>

<div class="content jumbotron">
    <div class="display-3 mx-5 my-3">About Us</div>
    <ul>
        <li>
            <div class="display-6">Company Profile</div>
            <br />
            <p>
                It gives us massive delight to present ourselves as a group of experts
                with a shared vision. Since the time we have assembled our block of
                achievement by giving HVAC services like in HVAC contracting.
                Additionally as a Service supplier in the field of HVACConsulting and
                Contracting. We embrace a few turnkey projects whichincorporate
                Consulting and Contracting of Commissioning andInstallation of HVAC jobs
                in Commercial, Industrial and ResidentialProjects, Hospitals, Schools,
                Colleges, Software Companies, ITProjects, and Five Star Hotels and so
                forth These days we arebuilding blocks of achievement by being the most
                favored ElectricalContracting Service Provider for a wide range of
                Industries. Ourassociation finished 5 years, and proceed to development
                moregrounded and greater. Accordingly, when we serve you,
                ouradministration hails with a foundation of a solid establishment.
            </p>
    </li>
    <li>
        <div class="display-6">Objectives & strengths</div>
        <br />
        <p>
        DPS Aircon has consistently kept consumer loyalty as its fundamental
        goal. The incredible nature of work, severe adherence to cost and time
        boundaries, and safe HVAC arrangements are altogether the qualities of
        the Group. Ideal understanding of Customer needs.
    </p>
</li>
<li>
    <div class="display-6">Quality of Service</div>
    <br />
    <p>
        Quality control and quality assurance along with proposed Work
        Inspection, practices, and test plan. Our organization immovably has
        faith in Quality and the ideas of Quality Assurance and Quality Control
        are surely known by us.
    </p>
</li>
<li>
    <div class="display-6">Licenses</div>
    <p>We are licensed HVAC Contractor & Engineers. Turnkey Projects:</p>
    <ol>
        <li>Industrial</li>
        <li>Commercial</li>
        <li>Residential</li>
    </ol>
    <p>with HVAC solutions.</p>
</li>
<li>
    <table class="display-6">
        <tr>
            <td>Website</td>
            <td><a href="https://dpsaircon.com">https://dpsaircon.com</a></td>
        </tr>
        <tr>
          <td>Email</td>
          <td>
              <a href="mailto:dpsairconhelpline@gmail.com"
              >dpsairconhelpline@gmail.com</a
              >
            </td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td>+919718964038</td>
        </tr>
    </table>
</li>
</ul>
</div>

{% endblock content %}