{% extends 'base.html' %}

{% block content %}

<style>
    .jumbotron {
      padding: 2rem 1rem;
      margin-bottom: 2rem;
      background-color: #88B8E7;
      border-radius: 1.3rem;
    }
    .body{
      background-color:rgba(255, 228, 196, 0.452);
    }
  </style>
<div>
    <div class="jumbotron align-items-center" style="margin: 12.5vh 25vw">
    <center>
      <p class="display-3">Contact Us</p>
      <form class="align-self-center" method='POST' action='contact'>
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            name='email'
            />
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input
            type="text"
            class="form-control"
            id="floatingInputname"
            placeholder="name"
            name='name'
            />
            <label for="floatingInputname">Name</label>
        </div>
        <div class="form-floating mb-3">
            <input
            type="tel"
            class="form-control"
            id="floatingInputtel"
            placeholder=""
            name='mob'
            />
            <label for="floatingInputtel">Mobile Number</label>
        </div>
        <div class="form-floating mb-3">
            <input
            type="text"
            class="form-control"
            id="floatingInputadd"
            placeholder=""
            name='address'
            />
          <label for="floatingInputadd">Address</label>
        </div>
        <div class="form-floating mb-3">
            <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea2"
            style="height: 100px"
            name='Issue'
            ></textarea>
            <label for="floatingTextarea2">Describe your Issue</label>
        </div>
        
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</center>
</div>
</div>

{% endblock content %}